// 共通
$headerHeight: 100px;
$textColor_black: #333333;
$textColor_blue: #192f60;
$textColor_white: #fdfdff;


.inner{
    max-width: 1000px;
}

#wrapper {
    height: 100%;
    padding-top: $headerHeight;
    box-sizing: border-box;
    #header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        -moz-transition-duration: .7s;
        -o-transition-duration: .7s;
        -webkit-transition-duration: .7s;
        transition-duration: .7s;
        background: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid #e2e2e2;
        a{
            transition-duration: .7s;
        }
        .wrap {
            padding: 0 30px;
            margin: 0 auto;
            box-sizing: border-box;
            h1 {
                float: left;
                width: 187px;
                margin: 34px 0 0;
            }
            // PC
            @media screen and (min-width: 768px){
                .header_menu {
                    display: block !important;
                }
            }
            // SP
            @media screen and (max-width: 767px){
                .toggleMenu {
                    display: block;
                    float: right;
                    width: 20px;
                    height: 50px;
                    background: 0 0;
                    text-align: left;
                    color: $textColor_black;
                    cursor: pointer;
                    margin-right: 20px;
                    z-index: 1001;
                    position: relative;
                    .menu-trigger, .menu-trigger span {
                        display: inline-block;
                        transition: all .4s;
                        box-sizing: border-box;
                    }
                    .menu-trigger {
                        position: relative;
                        width: 20px;
                        height: 16px;
                        margin: 18px auto 0;
                        text-align: center;
                        span {
                            position: absolute;
                            left: 0;
                            width: 100%;
                            height: 2px;
                            background-color: $textColor_black;
                            border-radius: 5px;
                            &:nth-of-type(1) {
                                top: 0;
                            }
                            &:nth-of-type(2) {
                                top: 7;
                            }
                            &:nth-of-type(3) {
                                bottom: 0;
                            }
                        }
                    }
                }
                .header_menu {
                    display: none;
                    float: none;
                    clear: both;
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: #f5f5f5;
                    overflow: hidden;
                    padding: 65px 55px 45px;
                    z-index: 1000;
                    box-sizing: border-box;
                    .g_nav {
                        display: block;
                        height: 100%;
                        overflow-y: auto;
                        overflow-x: hidden;
                        >li {
                            position: relative;
                            margin: 30px 0 0;
                            >a, >span {
                                display: block;
                                height: auto;
                                padding-right: 20px;
                            }
                            >a span, >span span {
                                margin: 0;
                            }
                            >span:after {
                                content: "";
                                position: absolute;
                                top: 50%;
                                right: 5px;
                                width: 5px;
                                height: 5px;
                                border-bottom: 2px solid $textColor_blue;
                                border-left: 2px solid $textColor_blue;
                                -moz-transform: rotate(-45deg);
                                -ms-transform: rotate(-45deg);
                                -webkit-transform: rotate(-45deg);
                                transform: rotate(-45deg);
                                -moz-transition-duration: .2s;
                                -o-transition-duration: .2s;
                                -webkit-transition-duration: .2s;
                                transition-duration: .2s;
                                margin-top: -6px;
                            }
                            &.hover>span:after {
                                -moz-transform: rotate(135deg);
                                -ms-transform: rotate(135deg);
                                -webkit-transform: rotate(135deg);
                                transform: rotate(135deg);
                                margin-top: -3px;
                            }
                            .subMenu {
                                position: relative;
                                top: 0;
                                background: 0 0;
                                padding: 0;
                                box-shadow: none;
                            }
                            &.hover>span+.subMenu {
                                pointer-events: auto;
                                opacity: 1;
                            }
                            dl {
                                display: none;
                                padding: 0;
                                dt {
                                    display: none;
                                }
                                dd {
                                    display: block;
                                    padding-left: 20px;
                                }
                                li {
                                    padding-left: 0;
                                    a {
                                        position: relative;
                                        font-size: 14px;
                                        font-weight: 400;
                                        &:hover {
                                            text-decoration: none;
                                        }
                                        &:before {
                                            content: "-";
                                        }
                                    }
                                }
                            }
                            &.hover dl {
                                display: block;
                                filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
                                opacity: 1;
                            }
                            ul li {
                                display: block;
                                margin: 15px 0 0;
                                padding: 0;
                            }
                            
                        }
                    }
                }
            }
            .header_menu {
                float: right;
            }
            .g_nav {
                display: flex;
                > li {
                    vertical-align: middle;
                    margin-left: 30px;
                    >a, >span {
                        display: flex;
                        align-items: center;
                        text-align: left;
                        vertical-align: middle;
                        font-size: 17px;
                        font-weight: 700;
                        line-height: 1.2;
                        letter-spacing: .1em;
                        color: $textColor_black;
                        cursor: pointer;
                        width: auto;
                        height: 100px;
                        -moz-transition-duration: .7s;
                        -o-transition-duration: .7s;
                        -webkit-transition-duration: .7s;
                        transition-duration: .7s;
                        position: relative;
                        -webkit-transition: color .15s ease-out;
                        transition: color .15s ease-out;
                        >span {
                            display: block;
                            margin: 0 auto;
                        }
                        >a sub, >span sub {
                            display: block;
                            font-family: "interstate",sans-serif;
                            font-size: 10px;
                            font-weight: 500;
                            line-height: 1.2;
                            letter-spacing: .1em;
                            color: $textColor_blue;
                            margin-top: 6px;
                        }
                    }
                    @media screen and (min-width: 768px){
                        >a:hover, >span:hover, #header .header_menu .g_nav>li.hover>a, &:hover>span {
                            color: $textColor_blue;
                        }
                        >span>span {
                            position: relative;
                        }
                        &.hover>span>span:before,&.hover>span>span:after {
                            content: "";
                            width: 60px;
                            height: 134px;
                            position: absolute;
                            z-index: 1;
                        }
                        &.hover>span>span:after {
                            bottom: -85px;
                            right: -52px;
                            transform: rotate(-45deg);
                        }
                        &.hover>span>span:before {
                            bottom: -86px;
                            left: -52px;
                            transform: rotate(45deg);
                        }
                        >a:hover:after, >span:hover:after, &.hover>a:after, &.hover>span:after {
                            width: 100%;
                        }
                        >a:after, >span:after {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            width: 0;
                            height: 2px;
                            background-color: $textColor_blue;
                            transition: .3s;
                            -webkit-transform: translateX(-50%);
                            transform: translateX(-50%);
                        }
                    }
                    .subMenu {
                        pointer-events: none;
                        position: absolute;
                        top: 100px;
                        left: 0;
                        display: block;
                        width: 100%;
                        background: #f5f5f5;
                        padding: 0 30px;
                        -moz-box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                        -moz-transition-duration: .6s;
                        -o-transition-duration: .6s;
                        -webkit-transition-duration: .6s;
                        transition-duration: .6s;
                        filter: alpha(opacity=0);
                        opacity: 0;
                        z-index: 99;
                        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
                    }
                    >span:hover+.subMenu, >span dl:hover,  .subMenu:hover {
                        pointer-events: auto;
                        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
                        opacity: 1;
                    }
                    dl {
                        display: table;
                        width: 100%;
                        max-width: 1000px;
                        padding: 90px 0;
                        margin: 0 auto;
                        box-sizing: border-box;
                        dt {
                            display: table-cell;
                            vertical-align: middle;
                            width: 160px;
                            font-size: 35px;
                            font-weight: 700;
                            line-height: 1.2;
                            letter-spacing: .1em;
                            sub {
                                display: block;
                                font-family: "interstate",sans-serif;
                                font-size: 20px;
                                font-weight: 500;
                                line-height: 1.2;
                                letter-spacing: .1em;
                                color: $textColor_blue;
                                margin-top: 15px;
                            }
                        }
                        dd {
                            display: table-cell;
                            vertical-align: middle;
                            width: auto;
                            padding-left: 75px;
                            li {
                                display: inline-block;
                                margin: 10px 35px 10px 0;
                                line-height: 1.2;
                                position: relative;
                                padding-right: 18px;
                                @media screen and (min-width: 768px){
                                    &:before {
                                        display: block;
                                        content: "";
                                        width: 7px;
                                        height: 7px;
                                        border-top: 2px solid $textColor_blue;
                                        border-right: 2px solid $textColor_blue;
                                        box-sizing: border-box;
                                        position: absolute;
                                        right: 0;
                                        top: 7px;
                                        -moz-transform: rotate(45deg);
                                        -ms-transform: rotate(45deg);
                                        -webkit-transform: rotate(45deg);
                                        transform: rotate(45deg);
                                    }
                                }
                                a {
                                    font-size: 16px;
                                    font-weight: 700;
                                    line-height: 1.2;
                                    letter-spacing: .1em;
                                    color: $textColor_black;
                                    vertical-align: top;
                                    &:hover {
                                        opacity: 1;
                                        color: $textColor_blue;
                                        text-decoration: none !important;
                                    }
                                }
                            }
                        }
                    }
                }
                > li.first {
                    margin-left: 0px;
                }
    
            }
        }
    }
}